################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventOfCode
/AdventOfCode2016/bin/Debug
/AdventOfCode2016/obj/Debug
/.vs/AdventOfCode/v14/.suo
/AdventOfCode.Common/bin/Debug
/AdventOfCode.Common/obj/Debug
